<main>
    <app-hero [textP]="homeParagrafo" [textH1]="homeH1" [textH1Color]="homeH1Color" [startProjectButton]="true"/>
    <section class="stack-section">
        <div class="stack-section__container container">
          <div class="stack-section__left">
            <p class="stack-section__subtitle">A melhor stack é a sua.</p>
            <h3 class="stack-section__title">Desenvolva com <br> <strong>Qualquer Tecnologia</strong></h3>

            <div class="stack-section__icons">
                <img class="stack-section__icon" src="assets/icons/angularjs.svg" alt="Angular Logo">
                <img class="stack-section__icon"  src="assets/icons/clojure.svg" alt="Clojure Logo">
                <img class="stack-section__icon"  src="assets/icons/csharp.svg" alt="C# Logo">
                <img class="stack-section__icon"  src="assets/icons/java.svg" alt="Java Logo">
                <img class="stack-section__icon"  src="assets/icons/js.svg" alt="Javascript Logo">
                <img class="stack-section__icon"  src="assets/icons/nodejs.svg" alt="NodeJs Logo">
                <img class="stack-section__icon"  src="assets/icons/python.svg" alt="Python Logo">
                <img class="stack-section__icon"  src="assets/icons/react.svg" alt="React Logo">
                <img class="stack-section__icon"  src="assets/icons/vue.svg" alt="Vue Logo">
            </div>

            <div class="stack-section__button">
                <button class="button" (click)="navigateToChallenges()">Começar um projeto</button>
            </div>
          </div>
          <div class="stack-section__right">
            <img src="assets/images/brand-image.png" alt="">
          </div>
        </div>

    </section>
</main>

<app-newsletter></app-newsletter>
