
<footer class="footer">
    <div class="footer__container container">
        <div class="footer__left">
            <img src="assets/brand/logo-icon.svg" alt="Boosting Devs Logo">
            <p class="footer__text">
                Boosting Devs é uma plataforma de programação criada com o objetivo de ajudar desenvolvedores a expandirem seus conhecimentos técnicos.
            </p>
        </div>
        <div class="footer__right">
            <ul class="footer__menu-item-group">
                <li class="footer__menu-item-title">Feito para</li>
                <li class="footer__menu-item">Iniciantes</li>
                <li class="footer__menu-item">Juniors</li>
                <li class="footer__menu-item">Plenos</li>
                <li class="footer__menu-item">Seniors</li>
                <li class="footer__menu-item">Especialistas</li>
            </ul>
            <ul class="footer__menu-item-group">
                <li class="footer__menu-item-title">Plataforma</li>
                <li class="footer__menu-item">Time</li>
                <li class="footer__menu-item">Changelog</li>
                <li class="footer__menu-item">Privacidade</li>
                <li class="footer__menu-item">Termos de uso</li>
            </ul>
            <ul class="footer__menu-item-group">
                <li class="footer__menu-item-title">Comunidade</li>
                <li class="footer__menu-item"><a [href]="DISCORD_INVITATION" target="_blank">Discord</a></li>
            </ul>
        </div>
        <div class="footer__copyright">© 2023 boostingdevs.com</div>
    </div>
</footer>

<div class="blur-effect"></div>
